body {
  justify-content:ce ;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f7f9fc; 
}
.log-form__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.log-form__container {
  position: relative; 
  background: #ffffff;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Close Button */
.log-form__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #4b5563;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  z-index: 2;
}

.log-form__close-btn:hover {
  color: #1d4ed8;
  background-color: transparent;
  font-size: 25px;
}


.log-form__title {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.log-form__input,
.log-form__textarea,
.log-form__dropdown {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  background: #f9fafb;
}

.log-form__input:focus,
.log-form__textarea:focus,
.log-form__dropdown:focus {
  border-color: #1d4ed8;
  box-shadow: 0 0 5px rgba(29, 78, 216, 0.5);
  outline: none;
}
.log-form__submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  background: #1d4ed8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.log-form__submit-btn:hover {
  background: #2563eb;
}
.log-form__toggle-btn {
  padding: 10px 20px;
  background: #1d4ed8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.log-form__toggle-btn:hover {
  background: #2563eb;
}

.log-form__toggle-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.log-form__toggle-btn:disabled {
  background-color: #ccc;
  opacity: 0.7;
  cursor: not-allowed;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
